{% load static %}
 
<aside class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <span class="logo">Baccabiu INV</span>
            <button class="close-btn" onclick="toggleSidebar()">×</button>
        </div>
        <ul class="nav-menu">
            <li><a href="{% url 'index' %}"><span class="icon">🏠</span>Dashboard</a></li>
            <li><a href="{% url 'stockIn' %}"><span class="icon">⬆️</span>Add Item</a></li>
            <li><a href="{% url 'viewInventory' %}"><span class="icon">📦</span>View Inventory</a></li>
            <li><a href="{% url 'stockOut' %}"><span class="icon">⬇️</span>Stock Out</a></li>
            <li><a href="{% url 'history' %}"><span class="icon">🕘</span>Transaction History</a></li>
        </ul>
        
    </aside>

        

        


